.button {
  border: none;
  color: antiquewhite;
  padding: 15px 32px;
  text-align: centre;
  text-decoration:none;
  display:inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor:pointer;
}

.button {
  background-color:darkblue;}/*what is the date and time*/


